# --- 1. AZURE OPENAI 
AZURE_OPENAI_ENDPOINT="https://azure.smth"
AZURE_OPENAI_KEY="The Key"
AZURE_OPENAI_DEPLOYMENT=""
AZURE_OPENAI_API_VERSION=""

# Modelul pentru vectorizare
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""

# --- 2. AZURE AI SEARCH ( RAG) ---
AZURE_SEARCH_ENDPOINT="https://XXXXXXX.search.windows.net"
AZURE_SEARCH_KEY="another ky"
AZURE_SEARCH_INDEX=""

# --- 3. GRADEBOOK API (Catalogul Extern) ---
GRADEBOOK_API_KEY=""
GRADEBOOK_API_BASE_URL="http://api:8020"